body {
background-color: bisque;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#headCon {
    height: 15vh;
    display: grid;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}
#container {
    height: 40vh;
    display: grid;
    margin: 1rem;
    justify-content: center;
}
